.product_item {
    background-color: #cbd1db;
    padding: 14px;
    margin:5px;
}

.item {
    font-weight: bold;
}

.show_hide {
    display: none;
}

.change_price{
    cursor: pointer;
    color:darkblue;
}

.change_quantity{
    cursor: pointer;
    color:darkblue;
}

.price_full {
    float: left;
    padding-right: 5px;
}

.quantity_full {
    float: left;
    padding-right: 5px;
}