<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/grocery.css">
    <script src="/grocery.js"></script>
    <meta charset="UTF-8">
    <title>Sklep | Kup</title>
</head>
<body>
<form action="/buyproduct">
    <div>
        Wybierz produkt:
    </div>
    <div>
        <select name="choose_product">
            <option th:each="p: ${products}"> <span th:text="${p.getName()}"></span></option>
        </select>
        <button type="button" class="plus_minus quantity_minus">-</button>
        <input name="quantity_product" type="text" size="1" class="product_quantity" style="text-align: center"/>
        <button type="button" class="plus_minus quantity_plus">+</button>
    </div>
    <input type="submit" value="Kup">
</form>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-12 col-md-5 col-xl-5 product_item">-->
            <!--<div><span style="width:210px;display:inline-block">Nazwa: <span class="item" th:if="${selected_product}" th:text="${selected_product.getName()}"></span></span>-->
                <!--Cena: <span class="item" th:if="${selected_product}" th:text="${selected_product.getPrice()}"></span> zł</div>-->
                <!--Ilość: <button class="plus_minus quantity_minus">-</button>-->
            <!--<input type="text" size="1" class="product_quantity" disabled style="text-align: center"/>-->
            <!--<button class="plus_minus quantity_plus">+</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</body>
</html>