<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="grocery.css">
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-2 col-xl-2 product_item" th:each="p: ${products}">
            <div>Nazwa: <span class="item" th:text="${p.getName()}"></span></div>
            <div>Cena: <span class="item" th:text="${p.getPrice()}"></span> zł</div>
            <div>Ilość: <span class="item" th:text="${p.getQuantity()}"></span></div>
            <img th:src="@{${p.getImage()}}" style="width:70%">
            <form th:action="@{|/product/${p.getId()}|}">
                <input type="number" min="1" max="20" name="delivery_quantity">
                <input type="submit" value="Dodaj">
            </form>
        </div>
    </div>
</div>

</body>
</html>